---

---

<div class="p-5">
  <div class="flex flex-row gap-96">
    <img class="w-10 -ml-52 mr-80" src="/public/logo.svg" alt="logo" />
    <ul class="flex text-pink-50 flex-row gap-10">
      <li>menu</li>
      <li>menu</li>
      <li class="py-1 px-2 bg-rod-300">menu</li>
      <li>menu</li>
      <li>menu</li>
      <li>menu</li>
    </ul>
  </div>
</div>
