---
import Button from "../components/Button.astro";
---

<div class="p-5">
  <div class="flex flex-row gap-96">
    <img class="w-16 -ml-52 mr-60" src="/logo.svg" alt="logo" />
    <ul class="flex mt-5 text-pink-50 flex-row gap-10 xs:hidden">
      <li>undervisere</li>
      <li>Danseuddannelse</li>
      <li><Button>Workshops</Button></li>
      <li>Praktisk</li>
      <li>Tilbud</li>
      <li>Kontakt</li>
    </ul>
  </div>
</div>
